/* Logo in nav bar */
#logo {
    padding-left: 20px;
    font-weight: bold;
    Font-Family: ‘Merriweather’, Serif;
    color: whitesmoke;
}

.logo {
    Font-Family: ‘Merriweather’, Serif;
    Font-Size: 200px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.name {
        Font-Family: ‘Merriweather’, Serif;
        Font-Size: 50px;
        color: whitesmoke;
        font-weight: bold;
        text-align: center;
}

p {
    Font-Family: ‘Muli’, Sans-Serif;
    Font-Size: 16px;
}

.sectionOther {
    border-radius: 25px;
    /* margin: 2px; */
    background-color: #8D9F87;
    border: 6px solid #F0DCCA;
}

.sectionName {
    height: 240px;
    max-width: 750px;
    border-radius: 25px;
    /* margin: 2px; */
    background-color: #8D9F87;
    border: 6px solid #F0DCCA;
}


.redBorder {
    border: 1px solid red;
}

.image {
    height: 240px;
    max-width: 100%;
    border-radius: 25px;
    /* margin: 2px; */
    background-color: #8D9F87;
    border: 6px solid #F0DCCA;
}